h1,
p {
  font-family: Lato;
}
.ql-color .ql-picker-options [data-value='color-picker']:before {
  content: 'Pick Color';
}

.ql-color .ql-picker-options [data-value='color-picker'] {
  background: none !important;
  width: 100% !important;
  height: 25px !important;
  text-align: center;
  color: blue;
  text-decoration: underline;
}
